@import "./base/reset.css";
body{
    padding: 10px;
}



.properties-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.property-card{
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.property-card img{
    width: 200px;
    height: 150px;
    margin: 0 auto;
}